<td>{{ index + 1 }}</td>
<td>
  <div class="mb-3">
    <input
      *ngIf="isEditMode; else vehicleNameDetails"
      [formControl]="vehicleName"
      type="text"
      class="form-control"
      aria-label="vehicleName"
      aria-describedby="basic-addon1"
    />
    <ng-template #vehicleNameDetails>{{ vehicleData.name }}</ng-template>
  </div>
</td>
<td>
  <div class="mb-3">
    <select
      *ngIf="isEditMode; else selectedTypeDetails"
      class="form-select"
      size="3"
      aria-label="size 3 select example"
      [formControl]="selectedType"
    >
      <option disabled>Select Vehicle Type</option>
      <option
        *ngFor="let vehicleType of vehicleTypes"
        [selected]="vehicleType.type === vehicleData.type"
      >
        {{ vehicleType.type }}
      </option>
    </select>
    <ng-template #selectedTypeDetails>{{ vehicleData.type }}</ng-template>
  </div>
</td>
<td>
  <div class="mb-3">
    <input
      *ngIf="isEditMode; else latDetails"
      [formControl]="latitude"
      type="text"
      class="form-control"
      placeholder="e.g: 34.794497"
      aria-label="Latitude"
      aria-describedby="basic-addon1"
    />
    <ng-template #latDetails>{{ vehicleData.latitude }}</ng-template>
  </div>
</td>
<td>
  <div class="mb-3">
    <input
      *ngIf="isEditMode; else longDetails"
      [formControl]="longtitude"
      type="text"
      class="form-control"
      placeholder="e.g: 32.059839"
      aria-label="longtitude"
      aria-describedby="basic-addon1"
    />
    <ng-template #longDetails>{{ vehicleData.longtitude }}</ng-template>
  </div>
</td>
<td>
    <div class="mb-3">
      <div class="input-group flex-nowrap" *ngIf="isEditMode; else lfc">
        <input type="datetime-local" id="meeting-time" name="meeting-time" [formControl]="lastSuccessfulConnection">
      </div>    

      <ng-template #lfc>{{ vehicleData.last_successful_connection }}</ng-template>
    </div>
  </td>
<td>
  <div class="mb-3">
    <div class="button-container">
      <ng-container *ngIf="!isEditMode">
        <button type="button" class="btn btn-success" (click)="onMoreDetails(vehicleData.uuid)" title="More Details">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-ticket-detailed" viewBox="0 0 16 16">
                <path d="M4 5.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5Zm0 5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5ZM5 7a1 1 0 0 0 0 2h6a1 1 0 1 0 0-2H5Z"/>
                <path d="M0 4.5A1.5 1.5 0 0 1 1.5 3h13A1.5 1.5 0 0 1 16 4.5V6a.5.5 0 0 1-.5.5 1.5 1.5 0 0 0 0 3 .5.5 0 0 1 .5.5v1.5a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 11.5V10a.5.5 0 0 1 .5-.5 1.5 1.5 0 1 0 0-3A.5.5 0 0 1 0 6V4.5ZM1.5 4a.5.5 0 0 0-.5.5v1.05a2.5 2.5 0 0 1 0 4.9v1.05a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-1.05a2.5 2.5 0 0 1 0-4.9V4.5a.5.5 0 0 0-.5-.5h-13Z"/>
              </svg>
        </button>
        <button type="button" class="btn btn-primary" (click)="onEdit()" title="Edit Vehicle">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-pencil"
            viewBox="0 0 16 16"
          >
            <path
              d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"
            />
          </svg>
        </button>
        <button type="button" class="btn btn-danger" (click)="onDelete(vehicleData.uuid)" title="Delete Vehicle">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-trash"
            viewBox="0 0 16 16"
          >
            <path
              d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"
            />
            <path
              fill-rule="evenodd"
              d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"
            />
          </svg>
        </button>
        <div class="messages" *ngIf="successMessage || errorMessage">
            <div class="success-message" *ngIf="successMessage">{{successMessage}}</div>
            <div class="error-message" *ngIf="errorMessage">{{errorMessage}}</div>
          </div>
      </ng-container>
      <ng-container *ngIf="isEditMode">
        <button type="button" class="btn btn-primary" (click)="onSave(vehicleData.uuid)" title="Update Vehicle">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-save" viewBox="0 0 16 16">
                <path d="M2 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H9.5a1 1 0 0 0-1 1v7.293l2.646-2.647a.5.5 0 0 1 .708.708l-3.5 3.5a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L7.5 9.293V2a2 2 0 0 1 2-2H14a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h2.5a.5.5 0 0 1 0 1H2z"/>
              </svg>
        </button>
        <button type="button" class="btn btn-danger" (click)="onClose()" title="Cancel">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-square" viewBox="0 0 16 16">
                <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
              </svg>
        </button>
      </ng-container>
    </div>
    <div class="messages" *ngIf="successMessage || errorMessage">
        <div class="success-message" *ngIf="successMessage">{{successMessage}}</div>
        <div class="error-message" *ngIf="errorMessage">{{errorMessage}}</div>
      </div>
  </div>
</td>
